html {
  overflow-y: scroll;
  margin: 0;
  padding: 0;
}
body {
  background-color: #f5f5f5;
  color: #3e474b;
  font-size: 14px;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
.content ul {
  list-style: none outside none;
}
font {
  font-size: 14px;
  font-family: "Source Sans Pro", sans-serif;
}
ol,
ul {
  margin: 0;
  padding: 0;
}
ol li,
ul li {
  line-height: 25px;
}
button:focus,
button:hover,
button:active,
.btn:focus,
.btn:hover,
.btn:active {
  outline: none;
}
label {
  color: #3e474b;
}
.fs9 {
  font-size: 9px;
}
.fs10 {
  font-size: 10px;
}
.fs11 {
  font-size: 11px;
}
.fs12 {
  font-size: 12px;
}
.fs13 {
  font-size: 13px;
}
.fs14 {
  font-size: 14px;
}
.fs15 {
  font-size: 15px;
}
.fs16 {
  font-size: 16px;
}
a {
  cursor: pointer;
  outline: none;
}
a img {
  border: none;
}
a:hover,
a:focus {
  text-decoration: none;
  outline: none;
  color: #3bac53;
}
b,
strong {
  color: #424242;
  font-weight: 400;
}
table {
  background-color: #FFFFFF;
}
table.list {
  border-collapse: collapse;
  width: 100%;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  margin-bottom: 20px;
}
table.list thead td {
  padding: 0px 5px;
}
table.list .center {
  text-align: center;
  padding: 7px;
}
table.list tbody td {
  padding: 0px 5px;
}
table.list td {
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
table.list .right {
  text-align: right;
  padding: 7px;
}
table.list .left {
  text-align: left;
  padding: 7px;
}
table.list thead td a,
.list thead td {
  text-decoration: none;
  color: #222222;
  font-weight: bold;
}
input.large-field,
select.large-field {
  width: 65%;
}
table.form {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}
table.form > * > * > td {
  color: #000000;
}
table.form td {
  padding: 4px;
}
table.form tr td:first-child {
  width: 170px;
}
table.radio {
  width: 100%;
  border-collapse: collapse;
  padding: 0;
  display: table;
}
table.radio td {
  padding: 5px;
}
table.radio td label {
  display: block;
}
table.radio td input[type="radio"] {
  margin: 0;
}
table.radio tr td:first-child {
  width: 1px;
}
table.radio tr td:first-child input {
  margin-top: 1px;
}
table.radio tr.highlight:hover td {
  background: #fafbfc;
  cursor: pointer;
}
.pagination {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  display: block;
  margin: 0;
  padding: 10px;
  background-color: #FFFFFF;
}
.pagination .links {
  float: left;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #ebeef2;
}
.pagination .links a,
.pagination .links b {
  display: inline-block;
  *display: inline;
  zoom: 1;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  width: 20px;
  height: 30px;
  -webkit-transition: background-color 350ms ease-in;
  transition: background-color 350ms ease-in;
  padding: 0;
  line-height: 30px;
  text-decoration: none;
  margin: 0 3px 0 0;
  text-align: center;
  font-weight: normal;
  color: #aa8255;
}
.pagination .links a:active,
.pagination .links b:active {
  color: #3bac53;
}
.pagination .links b {
  color: #3bac53;
  margin-left: 10px;
}
.pagination .results {
  float: right;
  color: #333;
}
.main-column .pagination .results {
  padding-top: 5px;
}
.buttons:before,
.buttons:after {
  content: " ";
  display: table;
}
.buttons:after {
  clear: both;
}
.buttons .center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.buttons .right {
  float: right;
  text-align: right;
}
.buttons .left {
  float: left;
  text-align: left;
}
.buttons.no-padding {
  padding: 0;
  border: 0;
}
.htabs {
  position: relative;
}
.htabs .nav > li > a:hover,
.htabs .nav > li > a:focus {
  background-color: transparent;
}
.htabs a {
  float: left;
  font-size: 17px;
  font-family: ;
  color: #424242;
}
.htabs a.selected {
  color: #3bac53;
}
.links {
  margin: 0;
  padding: 0;
}
.links li a {
  margin: 0 5px;
}
#colorbox {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -ms-box-sizing: content-box;
  -o-box-sizing: content-box;
  box-sizing: content-box;
}
.carousel-controls {
  position: absolute;
  right: 0;
  top: -29px;
  width: 50px;
  height: 30px;
  z-index: 12;
}
.product-label {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 600;
  width: 44px;
  height: 33px;
  line-height: 33px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 0;
  right: 0;
  z-index: 2;
}
.product-label:before {
  border-left: 11px solid rgba(0,0,0,0);
  border-right: 11px solid rgba(0,0,0,0);
  bottom: 4px;
  content: "";
  display: inline-block;
  position: absolute;
  z-index: 0;
}
.product-label.product-label-new {
  left: 0px;
  border-right: 46px solid transparent;
  border-top: 46px solid #4ACFD4;
}
.product-label.product-label-new span {
  left: 5px;
  -webkit-transform: rotate(-50deg);
  -ms-transform: rotate(-50deg);
  transform: rotate(-50deg);
}
.product-label.product-label-special {
  background: #5ca7d1;
}
.product-label.product-label-special:before {
  border-bottom: 7px solid #5ca7d1;
  left: -3px;
}
.tooltip-inner {
  border-radius: 3px;
}
.padding {
  padding: 20px;
}
.no-padding {
  padding: 0;
}
